<%= form_for [@user, @post] do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :git_file_name %><br>
    <%= f.text_field :git_file_name %>
  </div>
  <div class="field">
    <%= f.label :git_url %><br>
    <%= f.text_field :git_url %>
  </div>
  <div class="field">
    <%= f.label :git_raw_url %><br>
    <%= f.text_field :git_raw_url %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, :cols => "80", :rows => "10" %>
  </div>
  <div class="field">
    <%= f.label :git_commit_message %><br>
    <%= f.text_area :git_commit_message, :value => "Updating #{@post.git_file_name}", :cols => "80", :rows => "5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
