


<% if user_signed_in? %>
<div class="user-nav-wrap">
    <div class="user-avatar nav-expand" data-status="inactive">
      <%= image_tag avatar_url(current_user) %>
    </div>
    <ul class="user-nav">
      <li><%= link_to "Home", user_posts_path(current_user) %></li>
      <li><%= link_to "New Post", new_user_post_path(current_user) %></li>
      <li><%= link_to "Settings", user_settings_path(current_user) %></li>
    </ul>
</div>

<% else %>
  <a href="/auth/github">Login with GitHub</a>
<% end %>

<%= link_to root_path, class: "nav-logo" do %>
  <%= image_tag "logo-100.png", width: "50px", alt: "Push - Home" %>
<% end %>